<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="{% url 'catalog:home' %}">FutureLab Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="mainNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'catalog:home' %}">Главная</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'catalog:product_create' %}">Добавить товар</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'catalog:contacts' %}">Контакты</a></li>

        {% if user.is_authenticated %}
          <li class="nav-item d-flex align-items-center">
            <form method="post" action="{% url 'users:logout' %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link text-white p-0" style="text-decoration: none;">
                Выйти
              </button>
            </form>
          </li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Войти</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
